<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="cn.kgc.exam.mapper.TeacherMapper">
<select  id="findTeacher"  resultType="TeacherInfo">
select * from teacherinfo where teacherAccount=#{teacherAccount} and teacherPwd=#{teacherPwd}
</select> 
<select id="getAllTeacher"   resultType="int">
select count(*)  from teacherinfo
</select>
</mapper>